@keyframes DropDown {
    from {
        transform: translateY(-10em);
        opacity: 0;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
    .disclaimer {
        margin: 0.5em 1em;
        font-size: 1.2em;
        font-family: "Poppins", sans-serif;
        color: #6f6f6f;
    }
    .title {
        width: 100%;
        text-align: center;
        img {
            width: 100%;
        }
    }
    .BillSummaryContainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
        .SectionTitle {
            color: #363636;
            font-size: 1.8em;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            margin: 0.5em;
            margin-bottom: 0em;
        }
        form {
            width: 100%;
            justify-items: flex-start;
            align-items: flex-start;
            padding: 1em;
            .FormTitle {
                color: #363636;
                font-size: 1.4em;
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                margin: 0.5em;
            }
            .detailsSection {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: row;
                margin: 0 auto;
                padding: 0.5em;
                padding-bottom: 1em;
                border-radius: 10px;
                background-color: rgb(244, 244, 244);
                .HoriSepa {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
                label {
                    font-family: "Poppins", sans-serif;
                    color: #969696;
                    font-size: 1.2em;
                    padding: 0;
                    margin: 1.2em 0em 0.1em 0em;
                    margin-left: 0.7em;
                }
                input {
                    border: none;
                    // border-bottom: 2px solid rgb(175, 175, 175);
                    font-size: 1.1em;
                    padding: 0em;
                    width: 90%;
                    max-width: 550px;
                    min-width: 350px;
                    margin: 0.1em;
                    font-family: "Poppins", sans-serif;
                    margin-left: 1em;
                    color: #313131;
                    font-weight: bold;
                    background-color: transparent;
                }
                input::placeholder {
                    color: rgb(186, 186, 186);
                }
                #OTPBtn {
                    margin: 0.5em 1em;
                    appearance: none;
                    background-color: rgb(86, 196, 255);
                    text-align: center;
                    border: none;
                    font-family: "Poppins", sans-serif;
                    padding: 0.5em 2em;
                    font-size: 1.2em;
                    border-radius: 8px;
                    font-weight: bold;
                    color: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
                #DisableState {
                    cursor: not-allowed;
                    background-color: rgb(203, 203, 203);
                    color: #6c6c6c;
                    margin: 0.5em 1em;
                    appearance: none;
                    text-align: center;
                    border: none;
                    font-family: "Poppins", sans-serif;
                    padding: 0.5em 2em;
                    font-size: 1.2em;
                    border-radius: 8px;
                    font-weight: bold;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
            }
            .EventSummary {
                justify-self: center;
                align-self: center;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
                .FormTitle {
                    justify-self: flex-start;
                    align-self: flex-start;
                    margin-top: 2em;
                }
                .billItems {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    ul {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        list-style: none;
                        li {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: row;
                            .num {
                                color: #1c1c1c;
                                font-family: "Poppins", sans-serif;
                                font-size: 1.5em;
                                padding: 0.5em;
                            }
                            .name {
                                width: fit-content;
                                .type1 {
                                    color: #1c1c1c;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 1.5em;
                                    font-weight: bold;
                                    padding: 0.2em;
                                }
                                .type2 {
                                    color: #616161;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 1.2em;
                                    padding: 0.2em;
                                }
                            }
                        }
                        li:nth-child(even) {
                            background-color: rgb(239, 239, 239);
                        }
                    }
                }
                .ttlSection {
                    width: 90%;
                    justify-content: flex-end;
                    align-items: flex-end;
                    text-align: end;
                    border-top: 3px solid rgb(199, 199, 199);
                    border-bottom: 3px solid rgb(199, 199, 199);
                    padding: 1em 0em;
                    div {
                        margin: 0.2em 0em;
                        span {
                            font-family: "Poppins", sans-serif;
                            color: #969696;
                            font-size: 1.2em;
                        }
                        span:nth-child(2) {
                            font-family: "Poppins", sans-serif;
                            color: #5c5c5c;
                            font-weight: bold;
                        }
                    }
                    #ttl {
                        margin: 0.5em 0em;
                        span {
                            font-family: "Poppins", sans-serif;
                            color: #5c5c5c;
                            font-weight: bold;
                            font-size: 1.9em;
                        }
                    }
                }
            }
        }
        .disclaimer2,
        .disclaimer3 {
            margin: 0.5em 1em;
            font-size: 1.1em;
            font-family: "Poppins", sans-serif;
            color: #6f6f6f;
            text-align: center;
        }
        Button {
            margin: 0.5em 1em;
            width: 30%;
            appearance: none;
            background-color: rgb(86, 196, 255);
            text-align: center;
            border: none;
            font-family: "Poppins", sans-serif;
            padding: 0.5em 2em;
            font-size: 1.5em;
            border-radius: 10px;
            font-weight: bolder;
            color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            letter-spacing: 1px;
        }
    }
}

.footer-text .copyright-text a {
    color: #a0a1b5;
    img {
        width: 100px;
    }
}

@media (max-width: 935px) {
    .spad {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    main {
        width: 98%;
    }
}

@media (max-width: 750px) {
    main .BillSummaryContainer form .detailsSection {
        flex-wrap: wrap;
    }
    main .BillSummaryContainer Button {
        min-width: 250px;
    }
}

@media (max-width: 610px) {
    header .logo img {
        width: 210px;
        min-width: 50px;
    }
    header .MobileDropDown ul li a {
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 1.1em;
        padding: 0.5em 1.7em;
        margin: 0.2em;
        color: #1c1c1c;
        -webkit-transition: all ease 150ms;
        transition: all ease 150ms;
        letter-spacing: 1px;
        font-weight: bolder;
    }
}

@media (max-width: 525px) {
    main .BillSummaryContainer form {
        padding: 0.2em;
    }
    main .BillSummaryContainer form .EventSummary .ttlSection div span {
        font-family: "Poppins", sans-serif;
        color: #969696;
        font-size: 1em;
    }
    main .BillSummaryContainer form .EventSummary .ttlSection #ttl span {
        font-family: "Poppins", sans-serif;
        color: #5c5c5c;
        font-weight: bold;
        font-size: 1.4em;
    }
    main .BillSummaryContainer .disclaimer2,
    main .BillSummaryContainer .disclaimer3 {
        margin: 0.5em;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
        color: #6f6f6f;
        text-align: center;
    }
}

@media (max-width: 395px) {
    main .BillSummaryContainer form .detailsSection input {
        border: none;
        font-size: 1.1em;
        padding: 0em;
        width: 90%;
        max-width: 550px;
        min-width: 250px;
        margin: 0.1em;
        font-family: "Poppins", sans-serif;
        margin-left: 1em;
        color: #313131;
        font-weight: bold;
        background-color: transparent;
    }
}