// * {
//     outline: 1px solid red;
// }
//Header Styling
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    margin: 1em auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    .logo {
        margin: 0;
        align-self: center;
        text-align: center;
        padding: 0;
        a {
            width: 250px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .links {
        ul {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            li {
                list-style: none;
                margin: 0.2em 0.5em;
                a {
                    font-family: "Poppins", sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.5em;
                    margin: 0em;
                    color: #535353;
                    transition: all ease 150ms;
                    text-decoration: none;
                }
                a:hover {
                    color: #ff506d;
                    cursor: pointer;
                }
            }
            #RegisterLink {
                background: linear-gradient( 92.28deg, #ff39b1 8.54%, #fe8b2e 50.01%, #ff516a 93.7%);
                border-radius: 50px;
                color: white;
                padding: 0.5em 1.5em;
                img {
                    min-width: 120px;
                    margin: 0.2em 0.5em;
                }
            }
            #RegisterLink:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transform: translateY(-0.2em);
            }
        }
    }
    .MobileDropDown {
        display: none;
    }
}

//Header Styling
//Counter Styling
.CounterContainer {
    width: 100%;
    background: linear-gradient( 89.41deg, #ff455c 0.14%, #ff8735 51.38%, #ff39b3 99.92%);
    background-size: 600% 600%;
    animation: Gradient 6s ease infinite;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    .SubContainer {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .typo {
            font-family: "Poppins", sans-serif;
            color: white;
            .typo1 {
                font-size: 1.5em;
                font-weight: bold;
            }
            .typo2 {
                font-size: 3em;
                font-weight: 700;
            }
        }
        .CounterTime {
            width: auto;
            #countdown {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                padding: 1em 0em;
                .cd-item {
                    border: 1px solid #ffffff;
                    border-radius: 15px;
                    text-align: center;
                    padding: 0.3em 1.7em;
                    margin: 0em 1em;
                    min-width: 90px;
                    min-height: 90px;
                    span {
                        color: white;
                        font-size: 2.2em;
                        font-weight: bold;
                        font-family: "Poppins", sans-serif;
                    }
                    p {
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        font-family: "Poppins", sans-serif;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.offerBanner {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        margin: 0 auto;
        width: 800px;
    }
}

.footer-text .copyright-text a {
    color: #a0a1b5;
    img {
        width: 100px;
    }
}

//////////////////////////////////////////////AFZL MEDIA QUERIES
@media (max-width: 935px) {
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .CounterContainer .SubContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0.5em 0em;
    }
    .CounterContainer .SubContainer .typo .typo1 {
        font-size: 1em;
    }
    .CounterContainer .SubContainer .typo .typo2 {
        font-size: 1.5em;
    }
    .CounterContainer .SubContainer .CounterTime #countdown {
        padding: 0.7em 0em;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item {
        padding: 0.3em 1.5em;
        margin: 0em 1em;
        min-width: 50px;
        min-height: 50px;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item span {
        font-size: 2em;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item p {
        font-size: 1em;
    }
    .spad {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

@keyframes DropDown {
    from {
        transform: translateY(-10em);
        opacity: 0;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@media (max-width: 750px) {
    header {
        width: 100%;
    }
    header .links {
        display: none;
    }
    header .MobileDropDown {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        z-index: 2000;
        #RegisterLinkMobile {
            background: linear-gradient( 92.28deg, #ff39b1 8.54%, #fe8b2e 50.01%, #ff516a 93.7%);
            border-radius: 50px;
            color: white;
            padding: 0.5em 1.5em;
            width: 27vw;
            min-width: 150px;
            margin: 0.2em 0.5em;
            align-self: center;
            justify-self: center;
        }
        button {
            border: none;
            background-color: transparent;
            position: absolute;
            right: 0;
            padding: 0.6em;
            margin: 0.3em;
            transition: all 0.1s ease-in-out;
            img {
                width: 7vw;
            }
        }
        ul {
            width: 100%;
            position: absolute;
            top: 130%;
            box-sizing: border-box;
            height: fit-content;
            background-color: rgba(38, 38, 38, 0.961);
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid #565656;
            // animation: DropDown 0.5s ease;
            li {
                list-style: none;
                margin: 0.2em;
                box-sizing: border-box;
                height: fit-content;
                width: 100%;
                border-bottom: 1px solid #565656;
                padding: 1em;
                a {
                    width: 100%;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.5em;
                    padding: 0.7em 2em;
                    margin: 0.2em;
                    color: #ffffff;
                    transition: all ease 150ms;
                    letter-spacing: 5px;
                    font-weight: bolder;
                }
                a:hover {
                    color: #ff506d;
                    cursor: pointer;
                }
            }
            #EventLink {
                border-bottom: none;
            }
        }
    }
    main .BillSummaryContainer form .detailsSection {
        flex-wrap: wrap;
    }
    main .BillSummaryContainer Button {
        min-width: 250px;
    }
}

@media (max-width: 710px) {
    header {
        width: 100%;
    }
    header .links {
        display: none;
    }
    header .MobileDropDown {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        z-index: 2000;
        #RegisterLinkMobile {
            background: linear-gradient( 92.28deg, #ff39b1 8.54%, #fe8b2e 50.01%, #ff516a 93.7%);
            border-radius: 50px;
            color: white;
            padding: 0.5em 1.5em;
            width: 27vw;
            min-width: 150px;
            margin: 0.2em 0.5em;
            align-self: center;
            justify-self: center;
        }
        button {
            border: none;
            background-color: transparent;
            position: absolute;
            right: 0;
            padding: 0.6em;
            margin: 0.3em;
            transition: all 0.1s ease-in-out;
            img {
                width: 7vw;
            }
        }
        .animationn {
            animation: DropDown 0.5s ease;
        }
        ul {
            width: 100%;
            position: absolute;
            top: 130%;
            box-sizing: border-box;
            height: fit-content;
            background-color: rgba(38, 38, 38, 0.961);
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid #565656;
            // animation: DropDown 0.5s ease;
            li {
                list-style: none;
                margin: 0.2em;
                box-sizing: border-box;
                height: fit-content;
                width: 100%;
                border-bottom: 1px solid #565656;
                padding: 1em;
                a {
                    width: 100%;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.5em;
                    padding: 0.7em 2em;
                    margin: 0.2em;
                    color: #ffffff;
                    transition: all ease 150ms;
                    letter-spacing: 5px;
                    font-weight: bolder;
                }
                a:hover {
                    color: #ff506d;
                    cursor: pointer;
                }
            }
            #EventLink {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 610px) {
    header .logo img {
        width: 210px;
        min-width: 50px;
    }
    header .MobileDropDown ul li a {
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 1.2em;
        padding: 0.5em 1.7em;
        margin: 0.2em;
        -webkit-transition: all ease 150ms;
        transition: all ease 150ms;
        letter-spacing: 1px;
        font-weight: bolder;
    }
}

@media (max-width: 525px) {
    .offerBanner img {
        margin: 0 auto;
        width: 90%;
    }
    .CounterContainer .SubContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0.1em 0em;
        width: 98%;
    }
    .CounterContainer .SubContainer .typo .typo1 {
        font-size: 1em;
        margin-top: 0.1em;
    }
    .CounterContainer .SubContainer .typo .typo2 {
        font-size: 1.1em;
    }
    .CounterContainer .SubContainer .CounterTime #countdown {
        padding: 0.2em 0em;
        // border: 2px solid blue;
        width: 100%;
        flex-wrap: wrap;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item {
        padding: 0.2em;
        margin: 0.4em 3vw;
        max-width: 65px;
        max-height: 65px;
        min-width: 55px;
        min-height: 50px;
        border-radius: 10px;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item span {
        font-size: 5vw;
    }
    .CounterContainer .SubContainer .CounterTime #countdown .cd-item p {
        font-size: 0.7em;
    }
    main .sneakPeak {
        margin: 1em 0em !important;
    }
}

@media (max-width: 395px) {
    main .BillSummaryContainer form .detailsSection input {
        border: none;
        font-size: 1.1em;
        padding: 0em;
        width: 90%;
        max-width: 550px;
        min-width: 250px;
        margin: 0.1em;
        font-family: "Poppins", sans-serif;
        margin-left: 1em;
        color: #313131;
        font-weight: bold;
        background-color: transparent;
    }
}

///////////////////////////////////////////////////////AFZL MEDIA QUERIES